@model SMS.DATA.EF.Courses

@{
    ViewBag.Title = "Details";
}

<div id="courseContainer">
    <div id="courseHeader">
        <div id="courseHeaderLeft"></div>
        <div id="courseHeaderRight"></div>
    </div>
</div>

@Html.DisplayNameFor(model => model.CourseName)
@Html.DisplayFor(model => model.CourseName)

@Html.DisplayNameFor(model => model.CourseDescription)
@Html.DisplayFor(model => model.CourseDescription)

<p>
    <strong>Author(s):</strong><br />
    <ul>
        @{
            var lessons = Model.Lessons.Where(ba => ba.CourseID == Model.CourseID);
            foreach (var a in lessons)
            {
                <li>@a.LessonTitle</li>
            }
        }
    </ul>
</p>





@Html.DisplayNameFor(model => model.IsActive)
@Html.DisplayFor(model => model.IsActive)

@Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }) |
@Html.ActionLink("Back to List", "Index")
